@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    We are honored to made the app to demonstrate how to Software Engineering 
    and agility can help us to make job done in no time count.
</p>
